<%- include ('header')  %>

<div class="login-form">
    <h1>Connection</h1>
    <form action="login" method="POST">
        <input type="text" name="nom" placeholder="Nom" required>
        <input type="password" name="mdp" placeholder="Mdp" required>
    </div>    
        <button type="submit" class="ui blue labeld submit icon button">
            <i class="icon edit"></i>Envoyer
        </button>    
    </form>

    <h2>
    <div class="registerform">
            Pas de compte!
        <a href="register">
            Inscrit toi ici
        </a>
        
    </div>

  
  


<%- include ('footer') %>