<%- include ('header')  %>

<div class="register-form">
    <h1>Register Form</h1>
    <form action="register" method="POST">
      <input type="text" name="nom" placeholder="Nom" required>
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="mdp" placeholder="Mdp" required>
       <input type="submit">
    </form>
 </div>

<%- include ('footer') %>